.gmap-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .hide-controls {
        margin-top: -17vh;
        height: calc(100% + 34vh);
    }
    .locator {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 10rem;
        }
    }
}